nav {
background-color: #FFFFFF;
  /* height: 12vh; */
}

.logo {
  width: 70%;
}

.brand-logo {
  margin-left: 5%;
}

.menu {
  margin-right: 5%;
}


.burger {
  width: 50%;
  padding: 0;
}

/*MAIN*/
main {
  background-image: url("../assets/images/taxi.jpg");
  background-position: bottom;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

main .cont-comienza {
  background-color: #F7B617;
  box-sizing: border-box;
  height: auto;
}

main.row {
  margin: 0;
}

.row {
  margin-bottom: 0;
}

h1 {
  font-size: 40px;
  font-weight:500;
  color: white;
  margin: 0; 
}

.cont {
  margin: 3em 0 3em 2em;
}

.logo-blanco {
  margin-top: 1rem;
}

.btn-white {
  margin-top: .5rem;
  border-radius: .3rem;
  text-transform: none;
  font-size: 1.2rem;
}

/*main DESKTOP*/
h5 {
  font-weight:500;
  color: white;
  margin: 0; 
}
.logo-blanco-desktop {
  margin-top: 1.5rem;
  width: 20%;
  margin-left: .5rem;
}

.cont-text-main-desktop {
  padding: 1rem;
}

.p-viaja {
  font-size: 1rem;
  margin: 0;
}

.viaja {
  margin: 0;
}

.o-bien hr{
  margin-top: 1.5rem;
}

.p-o-bien {
  font-size: .8rem;
  text-align: center;
}

.btn-regístrate {
  margin-top: 1rem;
  border-radius: .3rem;
}

.btn-conviértete {
  margin-top: 1rem;
  text-transform: none;
  border-radius: .3rem;
  margin-bottom: 1rem;
}




/*SECCIÓN 1: LA NUEVA APP*/
.sec-1 {
  background-color: #F7B617;
  height: auto;
  padding: 2rem 2rem 0 2rem;
  margin-top: 0;
}

.border-iphone {
  border: 1px solid white;
  height: auto;
  margin-bottom: 2rem;
}
.iphone-cont {
  padding-top: 1rem;
}
.iphone {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/*sección 1 DESKTOP*/
.text-container-sec1 {
   padding-right: 8rem;
}

.text-container-sec1 h5 {
  padding-top: 3rem;
}


/*SECCIÓN 2: CONDUCE CUANDO QUIERAS*/
.sec-2 {
  content: "";
  background-image: url("../assets/images/conduce.jpg");
  background-position: center;
  background-size: cover;
  height: 25rem;
}

section.sec-2 div.cover-sec2 {
  content: "";
  height: 25rem;
  background-color: rgba(0,0,0,0.4);
  padding-left: 3rem;
  padding-top: 5rem;
  padding-right: 3rem;

}


p {
  font-size: 1.3rem;
}

.btn-conductor {
  margin-top: .5rem;
  border-radius: .5rem;
  text-transform: none;
  font-size: 1.2rem;
}

/*SECCIÓN 3*/

.sec-3 {
  background-color: #F7B617;
  height: auto;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem;
}

#icon_prefix {
  border-color: white;
}

.input-field>label {
    color: #FFF9C4;
}

label {
  color: #FFF9C4;
}

input#icon_prefix {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

#icon_telephone {
  border-color: white;
}

input#icon_telephone {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

.btn-traza-tu-ruta {
  margin-bottom: 3rem;
}

.map-container.col.s12  {
  border: 1px solid white;
  padding-top: .9rem;
  padding-bottom: .4rem;
  margin-bottom: 3rem;
}

/*FOOTER*/
.page-footer {
  background-color: #2B2B2B;
  height: auto;
  padding: 2rem 2rem 0 2rem;
  margin-top: 0;
}

.social-icons i, .social-icons-d i {
  margin-right: .5rem;
}

.img-gplay {
  margin-bottom: 1rem;
}

/*footer DESKTOP*/
.footer-desktop p{
  font-size: 1rem;
}

.images-footer {
  margin-top: 12rem;
}

.social-icons-d {
  margin-top: 17rem;
}